<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * O2TI PagBank Source Inventory Auth.
 *
 * Copyright © 2023 O2TI. All rights reserved.
 *
 * @author    Bruno Elisei <brunoelisei@o2ti.com>
 * @license   See LICENSE for license details.
 */
 -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="o2ti" translate="label comment" sortOrder="100">
            <label>O2TI</label>
        </tab>
        <section id="o2ti_pagbank_source_inventory_auth" translate="label" sortOrder="20000" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>PagBank Source Inventory Auth</label>
            <tab>o2ti</tab>
            <resource>O2TI_PagBankAndClearSales::config_pagbankandclearsales</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configurações Gerais</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Habilitado</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="app_id" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>App ID</label>
                </field>
                <field id="app_scope" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>App Scope</label>
                </field>
                <field id="cipher_text" translate="label comment" type="textarea" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>App Cipher Text</label>
                </field>
                <field id="app_id_sandbox" translate="label comment" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>App ID - Sandbox</label>
                </field>
                <field id="app_scope_sandbox" translate="label comment" type="text" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>App Scope - Sandbox</label>
                </field>
                <field id="cipher_text_sandbox" translate="label comment" type="textarea" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>App Cipher Text - Sandbox</label>
                </field>
            </group>
        </section>
    </system>
</config>
